/* Root theme */
:root {
  --primary-light-color: deeppink;
  --primary-light-bg-color: white;
  --primary-dark-color: lightpink;
  --primary-dark-bg-color: black;

  --secondary-light-color: purple;
  --secondary-light-bg-color: white;
  --secondary-dark-color: Lavender;
  --secondary-dark-bg-color: black;
}

/* Primary theme */
body[data-primary-theme="primary-light"] {
  --primary-color: var(--primary-light-color);
  --primary-bg-color: var(--primary-light-bg-color);
}

body[data-primary-theme="primary-dark"] {
  --primary-color: var(--primary-dark-color);
  --primary-bg-color: var(--primary-dark-bg-color);
}

body[data-next-primary-theme="primary-light"] {
  --primary-color-next: var(--primary-light-color);
  --primary-bg-color-next: var(--primary-light-bg-color);
}

body[data-next-primary-theme="primary-dark"] {
  --primary-color-next: var(--primary-dark-color);
  --primary-bg-color-next: var(--primary-dark-bg-color);
}

/* Secondary theme */
body[data-secondary-theme="secondary-light"] {
  --secondary-color: var(--secondary-light-color);
  --secondary-bg-color: var(--secondary-light-bg-color);
}

body[data-secondary-theme="secondary-dark"] {
  --secondary-color: var(--secondary-dark-color);
  --secondary-bg-color: var(--secondary-dark-bg-color);
}

body[data-next-secondary-theme="secondary-light"] {
  --secondary-color-next: var(--secondary-light-color);
  --secondary-bg-color-next: var(--secondary-light-bg-color);
}

body[data-next-secondary-theme="secondary-dark"] {
  --secondary-color-next: var(--secondary-dark-color);
  --secondary-bg-color-next: var(--secondary-dark-bg-color);
}
